{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    written by:
    {{ range $i, $a := .Param "authors" }}
      {{ $a }}{{ if lt (add $i 1) (len (.Param "authors")) }}, {{ end }}
    {{ end }}
    | {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
  </i>
</p>


{{ end }}{{ end }}
<content>
  {{ .Content }}
</content>

{{ if eq .Type "blog" }}{{ if (.Param "enablePostNavigator")}}
{{- partial "post_navigator.html" . -}}
{{ end }}{{ end }}

<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>

{{ if eq .Type "blog" }}
  {{ partial "disqus.html" . }}
{{ end }}

{{ end }}
